<%- include('../components/admin_template') %>
<main id="content">
    <div class="bg-transparent">
        <div class="px-8 pt-4 sm:flex sm:items-center">
           <div class="sm:flex-auto">
             <h1 class="mb-4 text-base font-medium leading-6 text-white heavy"><%= req.translations.images %></h1>
           </div>
         </div>
         <% if (req.query.err=="none" ) { %>
          <div class="my-4 rounded-full shadow-sm border border-white/10 px-3 py-2 pt-2.5">
            <span class="text-white text-xs mt-0.5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 mb-0.5 text-indigo-300 rounded-full shadow-sm bg-indigo-500/15 p-1.5 mr-2.5 inline-flex">
              <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
            </svg>
            Action completed - Image Have Been Created Successfully. 
            </span>
            </div>          
          <% } %>
      <% if (req.query.err == "EDITED") { %>
        <div class="my-4 rounded-full shadow-sm border border-white/10 px-3 py-2 pt-2.5">
          <span class="text-white text-xs mt-0.5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 mb-0.5 text-indigo-300 rounded-full shadow-sm bg-indigo-500/15 p-1.5 mr-2.5 inline-flex">
            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
          Action completed - Image Have Been Edited Successfully. 
          </span>
          </div> 
        <% } %>
         <div class="mt-4 sm:ml-8 sm:mt-0 sm:flex-none">
            <div class="flex grid flex-col items-center grid-cols-12 gap-4 px-6 py-3 mt-6 text-sm font-medium text-white/50" id="nodeTable">
                <div class="col-span-2"><%= req.translations.name %></div>
                <div class="col-span-2"><%= req.translations.author %></div>
                <div class="col-span-2"><%= req.translations.dockerImage %></div>
                <div class="col-span-2"><%= req.translations.remove %></div>
                <div class="flex items-center gap-3">
                  <% if (req.user.admin === true) { %>
                    <button id="uploadimage" type="button" class="flex items-center justify-center gap-2 px-5 text-sm font-medium text-white transition-all duration-200 bg-indigo-500 rounded-full shadow hover:scale-95 h-11 hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-800 focus:ring-offset-2 ring-offset-gray-200 hover:shadow-none">
                      <span>Import Image</span>
                    </button>
                  <% } %>
                </div>
            </div>

            <% images.forEach(function(image) { %>
            <div data-image='<%= JSON.stringify(image) %>' class="flex items-center gap-4 px-6 py-4 mb-4 transition border-2 border-transparent border-dashed cursor-pointer server-row bg-white/5 rounded-2xl hover:bg-white/10 hover:border-white/5">
                <!-- Server Name & Node -->
                <div class="col-span-2">
                    <div class="font-medium text-white"><%= image.Name %></div>
                </div>

                <!-- Status -->
                <div class="col-span-2">
                    <div class="flex items-center py-1 text-xs font-medium rounded-full px-7 bg-zinc-500/20 text-zinc-300">
                        <div class="flex items-center space-x-2">
                            <div class="flex items-center justify-center w-4 h-4 rounded-full bg-emerald-500/20">
                                <div class="w-2.5 h-2.5 rounded-full bg-emerald-500"></div>
                            </div>
                            <span class="text-sm text-emerald-300"><%= image.Author %> (<%= image.AuthorName %>)</span>
                        </div>
                    </div>
                </div>

                <!-- Docker Image -->
                <div class="col-span-2 px-full">
                    <div class="flex items-center gap-2">
                        <span class="px-2 py-1 text-xs text-white rounded shadow-sm bg-zinc-500/20">
                            <code class="font-mono">
                                <%= image.Image %>
                            </code>
                        </span>
                    </div>
                </div>

                <!-- Remove Button -->
                <a class="px-4 py-1 text-sm font-medium text-white bg-red-600 rounded-full cursor-pointer hover:bg-red-700 hover:scale-95" data-image-id="<%= image.Id %>" data-user-id="<%= user.userId %>">Remove</a>
            </div>
            <% }); %>

          </div>
      </div>
      <div style="display: none;" id="imageDetail" class="w-full pl-8 mt-6 text-white">
        <button id="backButton" class="block px-3 py-2 text-sm font-medium text-center text-white transition shadow-lg rounded-xl bg-neutral-800 hover:bg-neutral-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
          <%= req.translations.back %>
        </button>
        <h1 id="imageName" class="mt-4 text-2xl font-bold"></h1>
        <p id="imageDescription" class="mt-2 text-neutral-400"></p>
        <div class="mt-4">
          <span id="dockerImage" class="bg-white/5 text-white text-sm font-mono mr-2 px-2.5 py-1 rounded-xl"></span>
          <span id="envVars" class="bg-white/5 text-white text-sm font-mono mr-2 px-2.5 py-1 rounded-xl"></span>
        </div>
        <div class="mt-4">
          <p id="authorInfo" class="text-neutral-400"></p>
        </div>
        <div class="flex mt-4">
          <button id="deleteImageButton" class="block px-3 py-2 text-sm font-medium text-center text-white transition bg-red-600 shadow-lg rounded-xl hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <%= req.translations.imageDelete %>
          </button>
          <button id="replaceImageButton" class="block px-3 py-2 ml-2 text-sm font-medium text-center text-white transition shadow-lg rounded-xl bg-neutral-800 hover:bg-neutral-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
            <%= req.translations.imageReplace %>
          </button>
        </div>
      </div>
   </div>
</main>
<%- include('../components/footer') %>
<script>
    document.addEventListener("DOMContentLoaded", async function(event){
        var uploadBtn = document.getElementById('uploadimage');
        var imageRows = document.querySelectorAll('.image-row');
        var nodeTable = document.getElementById('nodeTable');
        var imageDetail = document.getElementById('imageDetail');
        var backButton = document.getElementById('backButton');
        var imageName = document.getElementById('imageName');
        var imageDescription = document.getElementById('imageDescription');
        var dockerImage = document.getElementById('dockerImage');
        var envVars = document.getElementById('envVars');
        var authorInfo = document.getElementById('authorInfo');
        var deleteImageButton = document.getElementById('deleteImageButton');
        var replaceImageButton = document.getElementById('replaceImageButton');
        var currentImage = null;
  
        uploadBtn.addEventListener('click', async function() {
          var input = document.createElement('input');
          input.type = 'file';
          input.accept = '.json';
          input.click();
          input.addEventListener('change', function(event) {
            var file = event.target.files[0];
            if (file && file.type === 'application/json') {
              var reader = new FileReader();
              reader.onload = function(event) {
                var jsonData = event.target.result;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/admin/images/upload', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                  if (xhr.status === 200) {
                    console.log('image uploaded successfully.');
                    setTimeout(function() {
                      window.location.reload();
                    }, 500);
                  } else {
                    console.error('Error uploading image.');
                  }
                };
                xhr.onerror = function() {
                  console.error('Network error.');
                };
                xhr.send(jsonData);
              };
              reader.readAsText(file);
            } else {
              alert('<%= req.translations.jsonSelectFile %>');
            }
          });
        });
  
        imageRows.forEach(function(row) {
          row.addEventListener('click', async function() {
            var image = JSON.parse(this.dataset.image);
            currentImage = image;
            imageName.textContent = image.Name;
            imageDescription.textContent = image.Description;
            dockerImage.textContent = image.Image;
            envVars.textContent = image.Env.join(', ');
            authorInfo.textContent = image.Author + ' (' + image.AuthorName + ')';
            nodeTable.style.display = 'none';
            imageDetail.style.display = 'block';
          });
        });
  
        backButton.addEventListener('click', function() {
          nodeTable.style.display = 'block';
          imageDetail.style.display = 'none';
        });
  
        deleteImageButton.addEventListener('click', async function() {
          if (currentImage) {
            deleteImage(currentImage.Id);
          }
        });
  
        replaceImageButton.addEventListener('click', async function() {
          var input = document.createElement('input');
          input.type = 'file';
          input.accept = '.json';
          input.click();
          input.addEventListener('change', function(event) {
            var file = event.target.files[0];
            if (file && file.type === 'application/json') {
              var reader = new FileReader();
              reader.onload = function(event) {
                var jsonData = event.target.result;
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/admin/images/upload', true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                xhr.onload = function() {
                  if (xhr.status === 200) {
                    console.log('image uploaded successfully.');
                    setTimeout(function() {
                      deleteImage(currentImage.Id);
                    }, 500);
                  } else {
                    console.error('Error uploading image.');
                  }
                };
                xhr.onerror = function() {
                  console.error('Network error.');
                };
                xhr.send(jsonData);
              };
              reader.readAsText(file);
            } else {
              alert('<%= req.translations.jsonSelectFile %>');
            }
          });
        });
  
        async function deleteImage(id) {
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/admin/images/delete', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.onload = function() {
            if (xhr.status === 200) {
              console.log('image deleted successfully.');
              setTimeout(function() {
                window.location.reload();
              }, 500);
            } else {
              console.error('Error deleting image.');
            }
          };
          xhr.onerror = function() {
            console.error('Network error.');
          };
          xhr.send(JSON.stringify({ id: id }));
        }
      });
  </script>